:root {
  --color: black;
}

svg {
  border: 0.1em solid var(--color);
  width: 50em;
  height: 25em;
}

circle {
  stroke: var(--color);
  stroke-width: 0.3;
  fill: transparent;
}

g.samples circle {
  fill: var(--color);
}

g.lines line {
  stroke: var(--color);
  stroke-width: 0.3;
}
